@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	font-family: 'Lato-Regular', 'Helvetica Neueu', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: white;
}

@font-face {
	font-family: "Lato-Regular";
	src: url('polices/Lato-Regular.ttf');
}

html {
	width: 100%;
	height: 100%;
}

body {
	color: black;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #0082A7;
	background:linear-gradient( rgba(0, 0, 0, 0.90) 100%, rgba(255, 255, 255, 0.25) 100%);
}

header {
	width: 100%;
	display: flex;
	flex-direction: column;
	background: rgb(0,245,238);
	background: radial-gradient(circle, rgba(0,245,238,0.527345972568715) 35%, rgba(255,0,134,0.5329482134650736) 100%);
}

ol, ul {
	margin-bottom: 0px;
}

h1 {
	color: white;
}

h4 {
	text-align: center;
	color: #0082A7;
	margin: 10px;
}

h5 {
	font-size: 12px;
	text-align: center;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: black;
}

nav ul li a {
	padding: 10px;
	color: white;
	text-align: center;
}

nav ul li a:hover {
	text-decoration: none;
	color: white;
}

nav ul li {
	display: flex;
	list-style-type: none;
	font-size: x-large;
	flex-grow: 1; /* Espace occupé va être élargi */
	justify-content: center;
}

nav ul li:hover {
	background-color: #0082A7;
}

footer {
	background-color: black;
	width: 100%;
	position: relative;
	bottom: 0;
	right: 0;
	clear: both;
	display: flex;
	overflow: hidden;
	justify-content: space-evenly;
}

footer h3 {
	color: white;
	text-align: center;
	margin: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: black;
    color: #ffffff;
		width: 100%;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
	background: #00a2f5;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

button:focus {outline:0;}

/*--------------------------------------gestion du logo-----------------------------------*/
.logo{
	height: 300px;
	width: auto;
	margin-left: auto;
  margin-right: auto;
	margin-top: -65px;
	margin-bottom: -100px;

}

.logobas{
	height: 100px;
	width: auto;
}

.topheader {
	display: flex;
	justify-content: space-between;
	max-height: auto;
}

.infos {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px
}

.infos div {
	display: flex;
	flex-direction: column;
	width: 30%;
	color: white;
	text-align: justify;
	justify-content: center;
}

.deroul, .deroul ul{
	list-style:none;
	text-align:center;
	width: 100%;
	text-align: center;
}

.deroul li{
	display:inline-block;
	position:relative;
	width: 100%;
}

.deroul li a {
	width: 100%;
}

.deroul ul li{
	display:inherit;
	border-radius:0;
}

.deroul ul li:hover{
	border-radius:0;
}

.deroul ul{
	position:absolute;
	z-index: 1000;
	max-height:0;
	left: 0;
	right: 0;
	overflow:hidden;
	-moz-transition: .1s all .05s;
	-webkit-transition: .1s all .05s;
	transition: .1s all .05s;
	flex-direction: column;
}
.deroul li:hover ul{
	max-height:15em;
}

/* les a href */
.deroul a {
	text-decoration:none;
	display:block;
	color:#fff;
	font-family:arial;
}

.deroul ul a{
	padding:8px 0;
}

.deroul li:hover li a{
	color:white;
	text-transform:inherit;
}

.deroul li:hover a, .deroul li li:hover a{
	color:white;
}

.bodyelement {
	width: 75%;
	margin: 20px;
}

.admin {
	color: white;
	text-align: center;
	flex-grow: 0.2;
	/* top: 0px;
	right: 0px;
	position: absolute; */
}

.admin a, .admin a:visited {
	color: white;
	font-size: 20px;
}

.fixed {
	position: fixed;
}

.connexadmin {
	position: absolute;
	background-color: black;
	margin: auto;
	padding: 25px;
	display: none;
	right: 0;
	transition: 0.5s;
	z-index: 42;
}

.connexadmin fieldset {
	display: flex;
	padding: 10px;
	flex-direction: column;
}

.connexadmin fieldset span {
	padding-bottom: 10px;
	width: 100%;
	height: 100%;
}

.connexadmin fieldset input {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.center-full-text {
	text-align: center;
	color: white;
	font-size: 5em;
	top: 45%;
	position: absolute;
}

input{
    color:black;
}

/*--------------------------------------gestion de la page music-----------------------------------*/

.musicinfos {
	width: 50%;
}

.musicinfos img{
	float: right;
	width: 200px;
}

.musicinfos ul {
	list-style:none;
}

.musicinfos ul li {
	margin-bottom: 50px;
	text-align: justify;
}
.musicinfos ul li p{
	font-family: 'Lato-Regular', 'Helvetica Neueu', Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-style: oblique;
	font-style:bold;
}
.musicinfos ul li p .lien{
	font-family: 'Lato-Regular', 'Helvetica Neueu', Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-style: oblique;
	font-style:bold;
  float:right;
}

/*--------------------------------------gestion de la page contact-----------------------------------*/
.formulaire{
	width: 60%;
	text-align: center;
}

.formulaire div{
	padding: 10px;
}

.formulaire form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 60%;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
}

.formulaire label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}

.formulaire input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 300px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

.formulaire input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

.formulaire textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.formulaire button{
	border-radius: 10px;
}

.formulaire .button {
  /* Pour placer le bouton à la même position que les champs texte */
  padding-left: 90px; /* même taille que les étiquettes */

}

/*--------------------------------------gestion de l'icone du footer-----------------------------------*/

.icon {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.icon a i {
	color: white;
	font-size: 30px;
	padding: 10px;
	background-color: #070707;
	transition: 0.3s;
}

.github a i:hover {
	background-color: #337ab7;
}


.autocomplete span {
	color: white;
	font-size: 20px;
}

#searchbar {
	width: 100%;
}

.connextitle {
	color: white;
}

@media screen and (max-width: 550px)
{
	footer {
		justify-content: center;
		flex-direction: column;
	}

	.icon {
		flex-direction: row;
	}

	nav a, nav button {
		font-size: 15px;
	}


	.connextitle {
		font-size: 15px;
	}
}

.active {
	font-weight: bold !important;
	color: #8B008B !important;
}

.btnopt {
	background-color: #337ab7;
	height: 40px;
	margin: 5px !important;
}

.buttons form {
	display: flex;
}

.buttons {
	margin: 20px;
}

.remy {
	width: 30%;
}

.playlistname {
	font-size: 20px;
}

#actualiserBDD {
	margin-top: 30px;
	width: 30%;
}

 #actualiserBDDInsert {
	 margin-top: 30px;
	 margin-bottom: 30px;
 }

.searchbarwithbutton {
	display: flex;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
	flex-direction: column;
}

.searchTerm {
  width: 100%;
  border: 3px solid #337ab7;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #337ab7;
	height: 100%;
}

.searchTerm:focus{
  color: #337ab7;
}

.table-dark {
	background-color: rgba(255, 255, 255, 0.01);
	border: 2px solid black;
}

.table-alert {
	border-bottom: solid white 1px;
}

.label-alert {
	font-size: 15px;
}

.searchButton {
  width: 40px;
  height: 37px;
  border: 1px solid #337ab7;
  background: #337ab7;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
	padding: 0;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avancedsearch {
	text-align: center;
}

#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	opacity: 0.3;
	top: 0;
	left: 0;
}

.tagnames {
	margin-left: 10px;
}

.tags {
	width: 30%;
  border: 3px solid black;
  padding: 20px;
}

.paramavance {
	color: white;
}

.spacebottom {
	margin-bottom: 15px;
}

.ui-menu-item-wrapper {
	color: black;
}

select {
	color: black;
}

option {
	color: inherit;
}
